/* comment */
.container {
  width: 1000px;
  margin: 0 auto;
}

.lf {
  float: left;
}

.rf {
  float: right;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.hr_15 {
  height: 15px;
}


.hr_20 {
  height: 20px;
}
/* headerTop */
.headerTop {
  height: 30px;
  background-color: #f7f7f7;
  line-height: 30px;
}

.headerTop a:hover {
  color: red;
}

.headerTop .lf a {
  background: url(../images/icon/collection.jpg) left center no-repeat;
  padding-left: 19px;
  font-weight: bold;
}

.headerTop .rf {
  padding-right: 20px;
}

/*headerLogo*/
.headerLogo {
  height: 86px;
  background-color: #1d7ad9;
}

.headerLogo .logo {
  padding-top: 12px;
  padding-left: 36px;
}

.headerLogo .search {
  padding-left: 188px;
  padding-top: 23px;
}

.headerLogo .search .searchText {
  width: 350px;
  height: 35px;
  padding: 0 5px;
  line-height: 35px\9; /* for ie */
  background-color: #ffffff;
}

.headerLogo .search .searchBtn {
  height: 35px;
  width: 70px;
  background-color: #ff8800;
  font: 14px/35px "Microsoft YaHei", "微软雅黑";
  color: #ffffff;
}

.headerLogo .shopCar {
  margin-top: 23px;
  margin-right: 59px;
  background-color: #ff8800;
  font: 14px/35px "Microsoft YaHei", "微软雅黑";
  color: #ffffff;
}

.headerLogo .shopCar .shopText {
  width: 87px;
  height: 35px;
  border-right: #e27a00 solid 1px;
  background: url(../images/icon/shopCar.png) 11px center no-repeat;
  text-indent: 40px;
}

.headerLogo .shopCar .shopNum {
  height: 35px;
  width: 27px;
  border-left: #ff9c01 solid 1px;
  background: url(../images/icon/三角.png) 33px center no-repeat;
  text-align: right;
  padding-right: 29px;
}

.step {
  width: 456px;
  height: 63px;
  background: url(../images/step.png);
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}

/* headerNav */
.headerNav {
  height: 35px;
  background-color: #1369c0;
}

.headerNav .shopClass {
  width: 190px;
  position: relative;
}

.headerNav .shopClass,
.nav {
  font-family: "Microsoft YaHei", "微软雅黑";
  color: #ffffff;
}

.headerNav .nav {
  line-height: 35px;
}

.headerNav .shopClass h3 {
  text-align: center;
  line-height: 35px;
  color: #ffffff;
}

.headerNav .shopClass i {
  display: inline-block;
  height: 7px;
  width: 11px;
  background-position:0 0;
  margin-left: 11px;
  overflow: hidden;
}

.headerNav .nav li {
  float: left;
}

.headerNav .nav a {
  color: #ffffff;
  display: inline-block;
  height: 35px;
  padding: 0 35px;
  text-decoration: none;
}

.headerNav .nav a.active {
  background-color: #4593fd;
}

.headerNav .shopClass_show {
  position: absolute;
  background-color: #4593fd;
  top: 35px;
  left: 0px;
  width: 100%;
  padding-bottom: 1px;
}

.headerNav .shopClass_item {
  font: 14px/1 "Microsoft YaHei", "微软雅黑";
  padding: 10px 10px;
  border-top: #5aa1fe solid 1px;
  border-bottom: #3487f2 solid 1px;
}

.headerNav .shopClass_item dt {
  height: 21px;
  background: url(../images/icon/三角2.gif) right center no-repeat;
  line-height: 1;
  overflow: hidden;
}

.headerNav .shopClass_item dd {
  font-family: "宋体";
  font-size: 12px;
}

.headerNav .shopClass_item a {
  display: inline-block;
  text-align: center;
  line-height: 22px;
  height: 22px;
}

.headerNav .shopClass_item a {
  color: #fff;
}

.headerNav .shopClass_item dd a {
  color: #c2d9f8;
}

.headerNav .shopClass_item .alink {
  font-size: 12px;
  width: 48px;
  height: 22px;
  margin-left: 10px;
  background: url(../images/icon/bg1.png) left center no-repeat;
  text-decoration: underline;
}

.headerNav .shopClass_active {
  background-color: #ffffff;
  border-left: #4593fd solid 1px;
}

.headerNav .shopClass_active a {
  color: #000;
}

.headerNav .shopClass_active dd a {
  color: #000;
}

.headerNav .shopClass_active dt {
  background: none;
}

.headerNav .shopClass_active .alink {
  color: white;
  text-decoration: none;
}

.shopClass .shopClass_list {
  width: 528px;
  position: absolute;
  left: 190px;
  top: 35px;
  border: #dddddd solid 1px;
  padding: 0 20px;
}

.shopClass .shopClass_class {
  line-height: 26px;
  padding-top: 10px;
}

.shopClass .shopClass_class dt {
  color: #4b88da;
  font-weight: bold;
  width: 70px;
  height: 26px;
}

.shopClass .shopClass_class dd {
  display: inline-block;
  width: 456px;
  font: 12px/26px "宋体";
}

.shopClass .shopClass_class a {
  display: inline-block;
  height: 26px;
  margin-right: 15px;
}

.shopClass .shopClass_class .line {
  height: 0px;
  width: 100%;
  border-bottom: #e5e5e5 solid 1px;
  margin-top: 10px;
}

.shopList_links {
  padding: 15px 0;
  display: inline-block;
}

.shopClass_list .shopList_links a {
  color: #fff;
  background-color: #2785e6;
  height: 26px;
  line-height: 26px;
  font-size: 12px;
  display: inline-block;
  padding: 0 14px 0 8px;
  margin-right: 10px;
}

.shopList_links span {
  display: inline-block;
  height: 7px;
  width: 11px;
  background: url(../images/icon/三角2.gif) left center no-repeat;
  margin-left: 7px;
}

/* banner */
.banner_bar {
  overflow: hidden;
  position: relative;
}

.banner_bar .imgbox {
  position: absolute;
  top: 0;
  left: 0px;
}

li {
  float: left;
}

li img {
  display: block;
}

.bannerBig,
li img {
  width: 810px;
  height: 326px;
}

.bannerBig .imgBox {
  width: 1620px;
  height: 326px;
}

.bannerSm,
.bannerSm li img {
  width: 190px;
  height: 400px;
}

.bannerSm .imgBox {
  width: 380px;
  height: 400px;
}

.tab {
  width: 100%;
  position: absolute;
  text-align: center;
  left: 0px;
  bottom: 0px;
}

.tab a {
  width: 10px;
  height: 10px;
  display: inline-block;
  background-color: #fff;
  margin: 15px 10px;
  overflow: hidden;
  border: #fff solid 1px;
  border-radius: 10px;
}

.tab .active {
  background-color: #ff7700;
  border-color: #ff7700;
}

/*shopTab*/
.shopTab {
  height: 44px;
  line-height: 44px;
  margin-top: 17px;
  margin-bottom: 15px;
}

.shopTab .icon {
  width: 44px;
  height: 44px;
  float: left;
  background: url(../images/icon/shoptab.jpg) left center no-repeat;
  margin-right: 15px;
}

.shopTab h3 {
  font-size: 24px;
  font-weight: normal;
  float: left;
}

.shopTab .more {
  float: right;
  font-size: 12px;
  font-family: "新宋体";
  margin-right: 20px;
}

.shopList2 .lf {
  width: 190px;
}

.shopList2 .rf {
  width: 809px;
  height: 396px;
  border-top: #cccccc solid 1px;
  border-right: #cccccc solid 1px;
  border-bottom: #ff7201 solid 3px;
}

.shoplist_top {
  width: 809px;
  height: 279px;
  float: left;
  border-bottom: #e5e5e5 solid 1px;
}

.shop_topitem {
  height: 234px;
  width: 199px;
  border-right: #e5e5e5 solid 1px;
  font-family: "Microsoft YaHei", "微软雅黑";
  font-weight: normal;
  text-align: center;
  line-height: 24px;
  padding-top: 45px;
  float: left;
}
.shop_topitem:last-child {
  border: none;
}

.shop_topitem .shop_img {
  width: 100%px;
  height: 151px;
  margin-bottom: 20px;
}

.shop_img img {
  width: 133px;
  height: 151px;
}

.shop_topitem p {
  color: #ff7f26;
}

.shoplist_fot {
  height: 116px;
  width: 809px;
  float: left;
}

.shop_fotitem {
  height: 116px;
  width: 199px;
  font-family: "Microsoft YaHei", "微软雅黑";
  font-weight: normal;
  float: left;
  border-right: #e5e5e5 solid 1px;
}

.shop_fotitem:last-child {
  border: none;
}

.fotshop_img {
  width: 104px;
  height: 116px;
}

.fotshop_img img {
  width: 94px;
  height: 76px;
  margin-top: 20px;
  display: block;
  float: left;
  padding-left: 10px;
}

.shop_fotitem .fotinfo {
  display: block;
  float: right;
  margin-top: -76px;
  text-align: center;
  line-height: 12px;
  width: 90px;
}

.fotinfo p:last-child {
  font-size: 16px;
  color: #ff7300;
  line-height: 20px;
}

/*footer*/
.footer {
  background-color: #d4d4d4;
  font: 12px/24px "新宋体";
  text-align: center;
  padding-top: 14px;
  margin-top: 40px;
}

.footer i {
  font-style: normal;
  margin: 0 5px;
}

.footer img {
  width: 128px;
  height: 46px;
  margin: 0 12px;
}

.footer .web {
  padding: 65px 0 49px 0;
}

.footer a {
  color: #000000;
}

.footer a:hover {
  color: green;
}

/* product class */
.pdtClass .lf {
  width: 180px;
}

.pdtClass .rf {
  width: 810px;
}

.pdtClass {
  margin-top: 17px;
}

.leftNav {
  border: #cdcdcd solid 1px;
  background-color: #f3f3f3;
  font-family: "宋体";
  overflow: hidden;
}

.lefttitle {
  height: 34px;
  border-bottom:#cdcdcd solid 1px;
  line-height: 34px;
  text-align: center;
  font-size: 14px;
  color: #555555;
}

.leftItem {
  margin-bottom: -1px;
  border-bottom: #d7d7d7 dotted 1px;
  padding: 5px 15px;
  line-height: 24px;
  font-size: 12px;
  color: #555555;
}

.leftclass li {
  width: 50%;
}

.leftclass a {
  color: #555555;
}

.vertical .leftclass {
  padding-left: 10px;
}

.vertical  li {
  width: 100%;
}

/*pdt*/
.pdttitle {
  height: 36px;
  border-bottom: #cccccc solid 2px;
}

.pdttitle h3 {
  height: 36px;
  font-size: 16px;
  line-height: 36px;
  color: #454545;
  width: 180px;
  border-bottom: #096dba solid 2px;
  text-indent: 10px;
}

.pdtlist_item {
  width: 172px;
  padding: 8px 15px;
  float: left;
  height: 234px;
}

.sgrlist .pdtlist_item {
  width: 29%;
}
.sgrlist {
  padding-left: 80px;
}

.pdthot {
  position: relative;
}


.hot {
  width: 50px;
  height: 50px;
  color: #fff;
  line-height: 50px;
  text-align: center;
  background: url(../images/icon/hot.gif) center center no-repeat;
  position: absolute;
  right: 45px;
  top: 5px;
}

.pdtimg{
  width: 160px;
  padding-bottom: 5px;
}

.pdtimg img {
   width: 130px;
   height: 130px;
}

.pdtlist_item p {
  line-height: 20px;
  height: 20px;
}

.addcar {
  margin-top: 5px;
  width: 88px;
  height: 22px;
  border: #c3d5e7 solid 1px;
  background: url(../images/icon/shopCar2.gif) 6px center no-repeat;
}

.addcar a {
  color: #3978bf;
  line-height: 22px;
  height: 22px;
  margin-left: 23px;
}

.money {
  margin-top: 12px;
  color: #d4105a;
  font-weight: bold;
}

.star {
  height: 12px;
  margin: 0 1px;
  width: 12px;
  line-height: 20px;
  display: inline-block;
  background-position: 0 -24px;
}

/* sgrnav */
.sgrnav {
  font-size: 14px;
  line-height: 24px;
}

.sgritem {
  border-bottom: #ddd dotted 1px;
  padding: 5px 0;
}

.sgritem a {
  height: 24px;
}

.sgritem dt {
  height: 24px;
  width: 75px;
  float: left;
  text-align: right;
  color: #999;
  font-family: "宋体";
}

.nolimit {
  float: left;
  padding:0 30px 0 42px;
}

.sgrnav_active a {
  background-color: #1d7ad9;
  padding: 2px;
  text-decoration: none;
  color: #fff;
}

.itemclass {
  float: left;
  width: 500px;
}

.itemclass a {
  display: inline-block;
  width: 124px;
  color: #1d7ad9;
}

.itemmore {
  background: url(../images/icon/75.jpg) right center no-repeat;
  margin-right: 92px;
  display: inline;

}

.itemmore a {
  color: #333333;
  padding-right: 10px;
}

.lj {
  border-bottom: #d9d9d9 solid 1px;
}

.buxian {
  padding-right: 110px;

}

.buxian a {
  color: #1d7ad9;
}

.hexin {
  border: #dcdcdc solid 1px;
  color: #333;
  background: url(../images/icon/75.jpg) 92% center no-repeat;
  margin-right: 10px;
  padding: 0 19px 0 11px;
}

/*shopinfo*/
.shopinfo {
  height: 32px;
  background-color: #f5f5f5;
  border: #d9d9d9 solid 1px;
  line-height: 32px;
}

.shopadd {
  float: left;
  font-family: "新宋体";
  font-size: 12px;
  position: relative;
 
}

.sh {
  display: block;
  height: 22px;
  float: left;
  padding: 0 6px 0 10px;
}
 
.addstext {
  height: 22px;
  border: #bfbfbf solid 1px;
  background-color: #fff;
  padding-left: 10px;
  float: left;
  color: #666;
  line-height: 22px;
  margin: 4px 0;
  position: relative;
}

/* add_show */
.add_show {
  position: absolute;
  z-index: 4;
  top: 22px;
  left: -1px;
  width: 109px;
  border: #bfbfbf solid 1px;
  float: left;
}

.add_show li {
 display: block;
 padding-left: 10px;
 color: #666;
 background-color: #fff;
 float: none;
}  



.bluesj {
  display: block;
  float: right;
  width: 27px;
  height: 22px;
  background: url(../images/icon/bluesj.jpg) center center no-repeat;
}

.shop_num {
  float: right;
  color: #979999;
  padding-right: 85px;
}

.shop_num input {
  vertical-align: middle;
}

.shop_num label {
  color: #333;
  padding-right: 12px;
  padding-left: 3px;
}

.shop_num em {
  font-weight: bold;
  font-style: normal;
  color: #d80000;
  padding: 0 1px;
}

/* page */
.page {
  text-align: center;
  height: 28px;
  color: #666;
}

.page a {
  border: #dddddd solid 1px;
  padding: 7px 12px;
  line-height: 26px;
  margin: 0 5px;
  color: #555555;
}

.page span a,.page span {
  color: #333;
}

 .page .pageactive {
  background-color: #2266bb;
  color: #fff;
}

.nextpage {
  margin-right: 12px;
}

.pagepoint {
  margin: 0 15px;
}

.pagenum {
  height: 24px;
  width: 35px;
  border: #dddddd solid 1px;
  text-align: center;
  color: #666;
  margin: 0 3px;
}

.pagebtn {
  height: 24px;
  width: 35px;
  border: #c9c9c9 solid 1px;
  background-color: #e8e8e8;
  margin-left: 7px;
}

.pageline {
  margin: 20px 0 0 0;
  height: 0;
  width: 100%;
  border: #d9d9d9 solid 1px;
}

/* grey body */
.grey {
  background-color: #f0f0f0;
}

/* userposition */
.usp {
  font-size: 0;
  font-family: verdana;
  margin-top: 25px;
  margin-bottom: 15px;
}

.usp strong,
.usp span,
.usp a,
.usp em {
  font-size: 12px;
  color: #555;
}

.usp em {
  font-style: normal;
}

/* dspinfo */
.dsp_info {
  border: #ccc solid 1px;
  background-color: #fff;
}

.dsp_info .lf {
  width: 309px;
}

.dsp_info .rf {
  width: 688px;
  border-left: #ccc solid 1px;
}

.dsp_bigimg {
  height: 340px;
  text-align: center;
}

.dsp_smallimg {
  height: 52px;
  width: 265px;
  margin: 0 auto;
}

.dsp_smallimg li {
  float: left;
  border: #ccc solid 1px;
  height: 52px;
  width: 52px;
  margin-left: -1px;
}


.dsp_smallimg img {
  height: 52px;
  width: 52px;
} 

.dsp_smallimg .active  {
  border: #317ee7 1px solid;
  position: relative;
}

.dspcontent {
  padding: 10px;
}

.dl {

  padding-left: 16px;
  font: 12px/24px "新宋体";
  color: #666;
  padding-bottom: 10px;
  padding-top: 10px;
}

.dspcontent h3 {
  font: bold 16px/22px "Microsoft YaHei","微软雅黑";
  color: #333;
  padding: 15px 0 0 16px;

}

.dt, .dd {
  float: left;
}

.dt {
  width: 60px;
}

.mkprice {
  line-height: 24px;
  height: 24px;
  font-size: 18px;
  font-family: Verdana;
  color: #d70000;
}

.mkprice em {
  font-style: normal;
  font-size: 12px;
  margin-right: -5px;
}

.yh {
  display: inline-block;
  width: 54px;
  height: 18px;
  color: #fff;
  line-height: 18px;
  background: url(../images/icon/hg.gif) left top no-repeat;
  text-indent: 15px;
}

/*phone_select*/
.phone_select {
  background-color: #f2f2f2;
}

.addselect {
  margin-top: -1px;
}

.selys span {
  border: #ccc solid 1px;
  background-color: #fff;
  color: #000;
  width: 82px;
  height: 32px;
  display: inline-block;
  line-height: 32px;
  text-align: center;
  margin-right: 10px;
}

.selys .dt {
  line-height: 32px;
  height: 32px;
}

.selgg span {
  border: #ccc solid 1px;
  background-color: #fff;
  color: #666;
  height: 24px;
  display: inline-block;
  line-height: 24px;
  text-align: center;
  margin-right: 10px;
  padding: 0 5px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.selgg .dd {
  width: 495px;
}

.selgg .dt {
  line-height: 64px;
  height: 64px;
}

.selnum .dd {
  width: 82px;
  height: 32px;
  border: #b2b2b2 solid 1px;
  background-color: #fff;
  margin-right: 10px;
}

  .selnum .dt {
    line-height: 32px;
    height: 32px;
  }

.selys .sel_active {
    border-color: blue;
 }

.selgg .sel_active {
   border-color: blue;
}

.relation, .plus {
  height: 32px;
  width: 15px;
  float: left;
  line-height: 32px;
  text-align: center;
  background-color: #f3f3f3;
}

.relation {
  border-right: #b2b2b2 solid 1px;
}

.plus {
  border-left: #b2b2b2 solid 1px;
}

.selnum {
  float: left;
} 

.selnum input {
  width: 50px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  background-color: #fff;
  float: left;
}

.selnum {
  height: 32px;
  line-height: 32px;
  padding-bottom: 20px;
}

.selnum em {
  color: #fc7700;
  font-style: normal;
  font-weight: bold;
}

.alreadysel {
  line-height: 48px;
  height: 48px;
  color: #666;
  text-indent: 15px;
  font-weight: bold;
}

.alreadysel span {
  color: #0479ca;
  font-weight: bold;
  margin-left: 12px;
}

.sel_buy, .sel_car {
  display: inline-block;
  width: 184px;
  height: 48px;
  background: url(../images/icon/shop1.gif);
}

.sel_shop {
  text-align: center;
}

.sel_line {
  display: inline-block;
  width: 0px;
  height: 90px;
  border: #e5e5e5 solid 1px;
  overflow: hidden;
  margin: 0 40px;
}

.sel_line, .sel_buy, .sel_car {
  vertical-align: middle;
}

.sel_idea {
  color: #999;
  text-indent: 15px;
  height: 54px;
  line-height: 54px;
}

/*xx_info*/
.xx_info .lf {
  width: 188px;
  margin-right: 24px;
}

.xx_info .rf {
  width: 787px;
}

.klm {
  background-color: #fff;
  border:  #ccc solid 1px;
  overflow: hidden;
}

.klm h3 {
  display: block;
  height: 39px;
  line-height: 39px;
  text-indent: 15px;
  font-size: 14px;
  color: #333;
  font-weight: bold;
  background-color: #f3f3f3;
  border-bottom: #ccc solid 1px;
}

.klmitem {
  padding: 20px;
}

.klmimg {
  width: 100%;
  height: 148px;
  text-align: center;
}

.klmimg img {
  height: 118px;
  width: 65px;
}

.klm span {
  display: block;
  line-height: 18px;
  color: #de0000;
  margin-top: 2px;
}

.klm em {
  font-style: normal;
}

.klminfo {
  color: #999;
  display: inline-block;
  width: 150px;
}

/* xxcontent */
.xxcontent {
  border: #ccc solid 1px;
  font-size: 14px;
  font-family: "宋体";
  background-color: #fff;
}

.xxctit {
  border-bottom: #ccc solid 1px;
}

.xxctit span {
  display: inline-block;
  width:392px;
  line-height: 39px;
  height: 39px;
  color: #000;
  text-align: center;
  background-color: #f0f0f0;
  font-family: "宋体";
  
}

.cpjs {
  border-left: #ccc solid 1px;
}

.xxctit .active {
  background-color: #0479ca;
  color: #fff;
}

.titimg {
  display: block;
  margin: 30px auto;
}

.qltj {
  padding-left: 20px;
  padding-right: 20px;
}

.qltj h3 {
  display: inline-block;
  color: #2457a6;
  width: 75px;
  height: 32px;
  border-bottom: #2457a6 solid 1px;
  line-height: 32px;
}

.qltj h4 {
  display: inline-block;
  color: #808080;
 width: 200px;
}
.qltj p {
  border-top: #d7d7d7 solid 1px;
  margin-top: -1px;
  padding: 18px 0 32px 0;
  font: 14px/22px "宋体";
  color: #666;
}

.titimg2 {
  display: block;
  margin: 0 auto;
}

.pjcontent {
  background-color: #fff;
  border: #ccc solid 1px;
}

.pjcontent a {
  text-decoration: none;
}

.pjscore {
  padding-left: 13px;
  height: 158px;
}

.pjscore h3 {
  font: bold 14px/42px "NSimSun";
  color: #666;
}

.score {
  float: left;
}

.score span {
  font-size: 50px;
  color: #ff8f00;
}

.score em {
  font-size: 18px;
  color: #66667d;
  font-style: normal;
}

.speed {
  float: left;
  margin-left: 10px;
  padding-top: 15px;
}

.speed ul {
  float: left;
  height: 16px;
  width: 451px;
  font: 12px/16px "NSimSun";
  color: #ffffff;
  background-color: #bdbdbd;
  text-align: center;
  margin-bottom: 10px;
}

.speed_01 {
  float: left;
  width: 114px;
}
.speed_02 {
  float: left;
  width: 81px;
}
.speed_03 {
  float: left;
  width: 75px;
}
.speed_04 {
  float: left;
  width: 67px;
}

.speed p {
  color: #66667d;
}
.pf {
  width: 24px;
  height: 14px;
  color: #fff;
  line-height: 14px;
  text-align: center;
  background-color: #7f7f7f;
  font-size: 12px;
  float: left;
  position: absolute;
  left: 94%;
  top: -5px;
}

.pf i {
  display: block;
  border-color: #7f7f7f transparent transparent transparent;
  border-style: solid dotted dotted dotted;
  border-width: 3px;
  width: 0px;
  height: 0px;
  margin: 0 auto;
}

.speed {
  position: relative;
}

.reviewtit {
  background-color: #f2f2f2;
  height: 32px;
  line-height: 32px;
}

.reviewtit li {
  float: left;
  padding-right: 20px;
}

.reviewtit ul {
  margin-left: 20px;
  float: left;
}

.reviewtit a {
  padding: 0 5px;
  display: inline-block;
  color: #000;
}

.reviewtit .active {
  color: #317ee7;
  font-weight: bold;
  border-bottom: #317ee7 solid 2px; 
  height: 30px;
}

.sort {
  float: right;
  padding-right: 5px;
}

.sort a {
  display: inline-block;
  color: #000;
  border: #cdcdcd solid 1px;
  height: 22px;
  width: 72px;
  text-align: center;
  line-height: 22px;
  background: url(../images/time.gif) 68px center no-repeat;
}

.reviewcont {
  padding: 18px 0 20px 38px;
}

.head {
  width: 60px;
  text-align: center;
  float: left;
  margin-right: 70px;
}

.head img {
  margin-bottom: 5px;
  float: left;
}

.head a {
  line-height: 18px;
  height: 18px;
  color: #77778c;
}

.ff {
  color: #000;
  margin-left: 5px;
  font-weight: bold;
}

.stars {
  padding-top: 3px;
  float: left;
}

.stars p {
  line-height: 30px;
  height: 30px;
  color: #777777;
}

.cai, .ding{
  margin-right: 12px;
  color: #085c9b;
}

.time {
  float: right;
  color: #777;
  margin-right: 25px;
  margin-top: 3px;
}
 
/* infoitem */
.infoitem {
  background-color: #fff;
  border: #ccc solid 1px;
  margin-bottom: 20px;
}

.infoitem h3 {
  height: 31px;
  border-bottom: #e3e3e3 solid 1px;
  background: url(../images/221.png) left center repeat-x;
  line-height: 31px;
  padding-left: 11px;
  color: #666;
}

.infoul {
  padding: 19px 0 15px 30px;
  font: 12px/34px "宋体";
  color: #444;
}



.infoul em {
  color: #ff0000;
  font-style: normal;
  margin-right: 9px;
  float: left;
}

.infoul span.xz {
  float: left;
}

.infoul input {
  border: #c2c2c2 solid 1px;
  padding: 5px 0 5px 10px;
  color: #888888;
  margin: 0 3px;
  margin-top: 3px;
  float: left;
}

.infoul li {
  margin: 6px 0;
  float: left;
  width: 100%;
  height: 34px;
  vertical-align: middle;
}

.input {
  width: 97px;
}

.longinput {
  width: 390px;
}

.shortinput {
  width: 62px;
}

.infoul .confirm {
  background-color: #3f8df8;
  border: #3784ed solid 1px;
  padding-right: 10px;
  text-align: center;
  color: #fff;
}

.wxzf input {
  top: 8px;
  margin-right: 8px;
  position: relative;
}

.backcar {
  color: #3377ff;
  float: right;
  margin-right: 32px;
  font-size: 12px;
}

.shopxq_item {
  line-height: 34px;
  color: #666;
  float: left;
  width: 135px;
}

.shopxq .long {
  width: 440px;
  padding-left: 30px;
}

.shopxq .short {
  width: 120px;
}

.fgline {
  border: #e6e6e6 solid 0.5px;
  width: 100%;
  height: 0px;
  float: left;
}

.bx {
  float: left;
}

.bx img {
  display: block;
  width: 90px;
  height: 100px;
  float: left;
  margin-right: 20px;

}

.p1 {
  float: left;
  color: #7d6695;
  line-height: 34px;
  padding-bottom: 20px;
}

.p2 {
  float: left;
  color: #333;
}

.sl {
  position: relative;
  top: 56px;
  font-style: normal;
  left: -15px;
}

.p3 {
  color: #0479ca;
  margin-bottom: 20px;
}

.p4 {
  color: #de0000;
}

/* jiesuan */
.jiesuan {
  float: right;
  padding: 40px 25px 30px 0;
}

.jiesuan_p {
  font-size: 14px;
  color: #929292;
  height: 34px;
  line-height: 34px;
  margin-bottom: 10px;
}

.jiesuan_p span {
  font-size: 22px;
  color: red;
  font-weight: bold;
}

.jiesuan_input {
  font-size: 18px;
  color: #fff;
  height: 34px;
  width: 165px;
  background-color: red;
  float: right;
}

/* dl */
.container_460 {
  width: 460px;
  margin: 0 auto;
}

.container_460 .logo {
  margin-left: 5px;
}

.hy {
  font-size: 22px;
  line-height: 86px;
  height: 86px;
  font-family: "MicrosoftYaHei";
  color: #fff;
  padding-left: 24px;
}

.dl {
  margin-top: 10px;
  border: #e1e1e1 solid 1px;
  padding: 40px 75px 15px 75px;
}

.dlul {
  float: left;
}

.dlul li {
  float: left;
}

.dlinfo {
  color: #999;
  line-height: 20px;
  height: 20px;

}

.info_input {
  border: #ccc solid 1px;
  line-height: 32px;
  padding-left: 3px;
  width: 100%;
  margin-bottom: 10px;
  background: url(../images/icon/ueer.jpg)right center no-repeat;
}

.dlul li {
  width: 100%;
}

.autodl {
  color: #000;
  line-height: 50px;
  height: 50px;
  float: left;
  width: 100%;
}

#atdl {
  position: relative;
  top: 3px;
}

.dl_btn {
  width: 309px;
  height: 36px;
  background: url(../images/aaa.png);
  margin-bottom: 27px;
  color: #606060;
  font-weight: bold;
}

.par li {
  float: left;
}

.par .li01 {
  float: none;
}

.par i {
  font-style: normal;
  margin: 0 2px;
  color: #dbdbdb;
}

.par a {
  color: #666;
}

.freedl {
  position: relative;
  left: 300px;
  width: 115px;
  height: 31px;
  background: url(../images/bbb1.png);
  margin-bottom: 150px;
}

.container_635 {
  width: 635px;
  margin: 0 auto;
}

/* zhuce */

.regitem {
  font: 14px/34px "宋体";
  color: #999;
  margin-right: 10px;
  width: 100px;
  text-align: right;
  float: left;
}

.regitem em {
  color: red;
  font-style: normal;
  margin-right: 5px;
}

.inputitem {
  width: 268px;
  float: left;
}

.reg .autodl {
  height: 80px;
  line-height: 80px;
  margin-left: 100px;
}

.reg .dl_btn {
  margin-left: 100px;
  width: 290px;
}

.reg {
  padding-top: 65px;
  margin-bottom: 150px;  
}




.headerNav .shopClass i, .star {
  background-image: url(../images/kkk.png);
  background-repeat: no-repeat;
}